@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #2D2D2A;
  color: #F9F5E5;
}

.btn-color {
  background-color: #0488B3;
  color: #fff;
}

nav {
  padding: 10px;
  background-color: #0488B3;
}

nav h1 {
  font-size: 1.5em;
  color: #333;
  letter-spacing: 0.1em;
}

nav h4 {
  font-size: 1em;
}

nav a, nav a h1 {
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s;
}

nav a:hover, nav a:hover h1 {
  color: #5C083A;
}

tbody {
  color: #0488B3;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #F9F5E5;
}

.vehicle-table {
  overflow-y: hidden;
  overflow-x: auto;
}

.two-col-table {
  max-width: 750px;
}

.inline-add-form {
  margin: 25px 0;
}

.fa-minus-circle {
  color: #0488B3;
}

.filter-dropdown {
  margin-bottom: 10px;
}

.dropdown-content li.active, .dropdown-content li:hover {
  background-color: #9b1759;
}

#no-match {
  color: #87A330;
}

.clear-filter {
  float: right;
  margin: 10px;
  border: none;
  color: #F9F5E5 !important;
  background-color: #87A330;
  -webkit-transition: .5s;
  transition: .5s;
}

.clear-filter:hover {
  background-color: #5C083A;
}

#db-error {
  color: #5C083A;
  margin-top: 50px;
}

#success {
  color: #5C083A;
  font-size: 1em;
  width: 100%;
  padding: 10px;
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  opacity: 0;
}

#form-change {
  margin-top: 10px;
}

#form-change #sort-row {
  margin-bottom: 10px;
  max-width: 350px;
}

#form-change #sort-row div {
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #222;
  z-index: 99;
}

footer #copyright {
  float: right;
  margin: 0px;
  padding: 10px 20px;
}

#logout-text {
  padding: 15px;
}

#registration-form h1 {
  padding: 15px;
}

#registration-form #reg-row {
  display: flexbox;
  margin: auto;
}

#registration-form #reg-row #reg-input {
  margin: auto;
}

#registration-form #reg-row #reg-input input {
  margin: 10px;
}

#registration-form #reg-row button {
  margin: 10px;
  float: right;
  padding: 5px;
  border-color: #5C083A !important;
  color: #5C083A !important;
}

#register h2 {
  padding: 10px;
}

.return-link a {
  color: #5C083A;
  -webkit-transition: 1s;
  transition: 1s;
}

.return-link a:hover {
  color: #87A330;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (min-width: 576px) {
  #registration-form h1 {
    padding: 25px;
  }
  #registration-form input {
    max-width: 300px;
  }
}

@media (min-width: 720px) {
  nav h1 {
    font-size: 2em;
  }
  nav h4 {
    font-size: 1.5em;
  }
  .table-sm th,
  .table-sm td {
    padding: 15px;
  }
  .edit-header {
    color: #5C083A;
    font-size: 2.5rem;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#add-vehicle .col-form-label {
  margin-left: 10px;
  width: 50px;
}

#add-vehicle .form-control {
  margin-left: 15px;
  width: 70% !important;
  max-width: 300px;
}

.delete-vehicle {
  color: #c93232;
}

.edit-header {
  color: #5C083A;
  font-size: 2rem;
}

.grid-form {
  background-color: #ffffff;
  max-width: 500px;
  color: #0488B3;
  padding: 1em;
  margin: 2em auto;
  border-radius: .5em;
}

.grid-form form {
  max-width: 400px;
  margin: auto;
}

.grid-form form .submit-button {
  width: 100%;
  padding: 1.5em 0 2em;
}

.grid-form form .submit-button button {
  background-color: #87A330;
  float: right;
  -webkit-transition: .5s;
  transition: .5s;
}

.grid-form form .submit-button button:hover {
  background-color: #5C083A;
  color: #fff;
}

.grid-form .grid-form-group {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "input" "label" "error";
  grid-auto-columns: 1fr;
  padding: 1.5em 0 0;
}

.grid-form .grid-form-group label {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: label;
  font-weight: bold;
  margin: auto 0;
}

.grid-form .grid-form-group input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
  border: none;
  border-bottom: 1px #0488B3 solid;
  background-color: #ffffff;
}

.grid-form .grid-form-group input:focus {
  outline: none !important;
}

.grid-form .grid-form-group input:focus-within {
  outline: none !important;
  background-color: #ffffff;
}

.grid-form .grid-form-group input:-internal-autofill-selected {
  background-color: #ffffff;
}

.grid-form .grid-form-group p {
  margin: 0;
  padding: 0.2em;
  color: #c93232;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: error;
}

@media (min-width: 736px) {
  .grid-form {
    padding: 2em;
    margin: 3em auto;
  }
  .grid-form .grid-form-group {
        grid-template-areas: "label label input input input" "blank blank error error error";
  }
}

@media (min-width: 992px) {
  #admin-nav h4 {
    font-size: 2em;
  }
  #admin-nav a {
    font-size: 1.1em;
  }
  #admin-nav form {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  #admin-nav h4 {
    margin-left: 1.5em;
  }
  #admin-nav form {
    margin-right: 1.5em;
  }
}
