@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #333;
  color: #f5f0e3;
}

nav {
  padding: 10px;
  background-color: #f0134d;
}

nav h1 {
  font-size: 2em;
  color: #f5f0e3;
  letter-spacing: 0.1em;
}

.table {
  color: #40bfc1;
  font-weight: bold;
}

.vehicle-table {
  overflow-y: hidden;
  overflow-x: auto;
}

#admin-nav {
  background-color: #f0134d !important;
}

#admin-nav h4 {
  color: #f5f0e3;
}

#admin-nav button {
  border-color: #f5f0e3;
}

#admin-nav a {
  color: #f5f0e3;
}

.btn-color {
  background-color: #f0134d;
  color: #f5f0e3;
}

.inline-add-form {
  margin: 25px 0;
}

.fa-minus-circle {
  color: red;
}

#no-match {
  color: #40bfc1;
}

.clear-filter {
  float: right;
  margin: 10px;
  border-color: #40bfc1 !important;
  color: #40bfc1 !important;
}

#form-change {
  margin-top: 10px;
}

#form-change select {
  margin: 5px 0;
  padding: 0px 15px;
}

#form-change #sort-row {
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #222;
  z-index: 99;
}

footer #copyright {
  float: right;
  margin: 0px;
  padding: 10px 20px;
}

#sort-row {
  max-width: 300px;
}

#db-error {
  color: #40bfc1;
  margin-top: 50px;
}

#success {
  color: #40bfc1;
  font-size: 1em;
  width: 100%;
  padding: 10px;
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  opacity: 0;
}

@media (min-width: 768px) {
  .table-sm th,
  .table-sm td {
    padding: 15px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
