#admin-nav {
    background-color: $primary-color!important;
    h4 {
        color: $accent-light;
    }
    button {
        border-color: $accent-light;
    }
    a {
        color: $accent-light;
    }
}

.btn-color {
    background-color: $primary-color;
    color: $accent-light;
}

.inline-add-form {
    margin: 25px 0;
}

.form-control {
    width: 100%;
}

.fa-minus-circle {
    color: red;
}