#admin-nav {
    background-color: $primary-color!important;
    h4 {
        color: $accent-light;
    }
    button {
        border-color: $accent-light;
    }
    a {
        color: $accent-light;
    }
}

#sort-sect {
    width: 100%;
}