// General CSS
body {
  background-color: $color-grey;
  color: $accent-light;
}

.btn-color {
  background-color: $primary-color;
  color: #fff;
}

// Consumer Nav CSS
nav {
  padding: 10px;
  background-color: $primary-color;
  
  h1 {
    font-size: 1.5em;
    color: #333;
    letter-spacing: 0.1em;
  }
  h4 {
    font-size: 1em;
  }
  a, a h1 {
    font-weight: bold;
    transition: 1s;
  }
  a:hover, a:hover h1 {
    color: $accent-dark;
  }
}

// Table CSS
tbody {
  color: $primary-color;
  font-weight: bold;
  tr:nth-child(odd) {
    background-color: $accent-light;
  }
}

.vehicle-table {
  overflow-y: hidden;
  overflow-x: auto;
}

.two-col-table {
  max-width: 750px;
}
.inline-add-form {
  margin: 25px 0;
}

.fa-minus-circle {
  color: $primary-color;
}

.filter-dropdown {
  margin-bottom: 10px;
}

.dropdown-content li.active, .dropdown-content li:hover {
  background-color: #9b1759;
}

// User tip CSS
#no-match {
  color: $secondary-color;
}

.clear-filter {
  float: right;
  margin: 10px;
  border: none;
  color: $accent-light !important;
  background-color: $secondary-color;
  transition: .5s;
}

.clear-filter:hover {
  background-color: $accent-dark;  
}

#db-error {
  color: $accent-dark;
  margin-top: 50px;
}

#success {
  color: $accent-dark;
  font-size: 1em;
  width: 100%;
  padding: 10px;
  animation: fadeOut 3s;
  opacity: 0;
}

// Form CSS, all pages
#form-change {
  margin-top: 10px;
  #sort-row {
    margin-bottom: 10px;
    max-width: 350px;
    div {
      padding: 5px;
    }
  }
}

// Footer CSS
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #222;
  z-index: 99;
  #copyright {
    float: right;
    margin: 0px;
    padding: 10px 20px;
  }
}

// Logout CSS
#logout-text {
  padding: 15px;
}

// Registration CSS
#registration-form {
  h1 {
    padding: 15px;
  }
  #reg-row {
    display: flexbox;
    margin: auto;
    #reg-input {
      margin: auto;
      input {
        margin: 10px;
      }
    }
    button {
      margin: 10px;
      float: right;
      padding: 5px;
      border-color: $accent-dark !important;
      color: $accent-dark !important;
    }
  }
}

#register {
  h2 {
    padding: 10px;
  }
}

// Registration and Logout Common
.return-link {
  a {
    color: $accent-dark;
    transition: 1s;
  }
  a:hover {
    color: $secondary-color;
  }
}

// Disable autofill background
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// Media query for large phone
@media (min-width: 576px) {
  #registration-form {
    h1 {
      padding: 25px;
    }
    input {
      max-width: 300px;
    }
    button {
    }
  }
}

// Media query for larger than tablet size
@media (min-width: 720px) {
  // Consumer Nav CSS
  nav {
    h1 {
      font-size: 2em;
    }
    h4 {
      font-size: 1.5em;
    }
  }
  .table-sm {
    th,
    td {
      padding: 15px;
    }
  }
  .edit-header {
    color: $accent-dark;
    font-size: 2.5rem;
  }
}



// Fade out animaiton
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
